body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color:teal;
    background-color: #fce4ec;
}
header {
    background-color: #e91e63; 
    color: white;
    text-align: center;
    padding: 2em 0;
    transition: transform 0.3s ease;
}
header:hover{
    transform: scale(1.05);
}

nav.sticky-nav {
    background-color: #f8bbd0;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100; 
}

nav a {
    color: #e91e63; 
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ad1457;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

section.show{
    opacity: 1;
    transform: translateY(0);
}

.home-section{
    text-align: center;
}

.project {
    border: 1px solid #f8bbd0; 
    padding: 1em;
    margin-bottom: 1em;
}
.skill-bar {
    background-color: #f8bbd0; 
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}
.skill-progress {
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 0;
    transition: width 1s ease;
    background-color: #e91e63; 
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: peachpuff;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.skill-container{
    width: 48%;
    margin-right:2%;
}
@media(max-width: 600px){
    .skill-container{
        width: 100%;
        margin-right: 0;
    }
    .container{
        flex-direction: column;
    }
}